h1, h2, h3 {
  font-family: 'Abril Fatface', cursive; }

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

h5, p {
  font-family: 'Montserrat', sans-serif; }

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #fff; }

button {
  width: 41%;
  min-height: 50px;
  border: 3px solid #fff;
  border-radius: 2%;
  background-color: transparent;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.25em;
  color: #fff;
  text-transform: uppercase;
  position: relative; }
  button:hover {
    background-color: #00000070;
    color: #0ac2ff;
    text-shadow: 1.25px 1.25px #ae84ff; }
  button:hover:before, button:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px); }
  button:before, button:after {
    content: '';
    position: absolute;
    display: block;
    width: 0.25em;
    height: 0.25em;
    border: 3px solid #0ac2ff;
    transition: all 0.3s ease-in-out; }
  button:before {
    top: -7px;
    left: -7px;
    border-width: 2px 0 0 2px; }
  button:after {
    bottom: -7px;
    right: -7px;
    border-width: 0 2px 2px 0; }

@media only screen and (min-width: 770px) {
  button {
    width: 30%; } }
/* For testing only */
html > * {
  box-sizing: border-box;
  margin: 0; }

.wrapper {
  margin: 0;
  width: 100%; }

nav {
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.logo {
  text-align: center;
  margin: 2% 0 0 5%;
  max-width: 30%; }
  .logo > h1, .logo h4 {
    margin: 0; }

h1 {
  color: #fff; }

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40%; }
  .links ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-between; }
    .links ul a {
      color: #fff;
      text-transform: uppercase;
      margin: 0 1em;
      font-style: bold; }

.grow li:hover {
  animation: growIn 1s ease-in-out; }
  .grow li:hover a {
    color: #0ac2ff;
    background-color: #000; }

.center {
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/custom-memphis.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-blend-mode: darken; }

@keyframes growIn {
  0% {
    transform: scale(0.5);
    opacity: 0.5; }
  40% {
    transform: scale(2);
    opacity: 1; }
  100% {
    transform: scale(1); } }
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
  padding-bottom: 8%; }
  .hero > h1, .hero h5 {
    text-align: center;
    display: flex; }
  .hero h1 {
    font-size: 4.75em;
    animation: fadeIn 500ms ease initial; }
  .hero h5 {
    font-size: 1.5em;
    color: #fff; }

@media only screen and (min-width: 770px) {
  .hero h1 {
    font-size: 5em; }

  .hero h5 {
    font-size: 2em; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.featured {
  display: flex;
  flex-flow: row wrap; }
  .featured h3 {
    font-size: 1.5em; }
  .featured h5 {
    font-size: 1em; }

.feature-heading {
  width: 100%;
  text-align: center;
  margin: 0 5%; }

.cards {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 5% 15%;
  justify-content: center;
  padding: auto 2%; }
  .cards .icon {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 3px solid #000;
    border-radius: 50%;
    padding: 3%; }

.card {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 85%;
  align-items: center; }
  .card p {
    text-align: center; }
  .card:hover h3 {
    color: #ae84ff; }
  .card:hover .icon {
    border: 3px solid #ae84ff; }

@media only screen and (min-width: 770px) {
  .featured h5 {
    font-size: 1.25em; }
  .featured h3 {
    font-size: 1.75em; }

  .card {
    flex-basis: 33%;
    flex-grow: 1;
    text-align: center; } }
.footer {
  width: 100vw;
  background-color: #9c8299;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  align-items: center; }
  .footer > div, .footer ul {
    text-align: center; }
  .footer ul {
    list-style: none;
    display: flex;
    padding: 0; }
    .footer ul img {
      max-width: 50px; }
  .footer ul:first-of-type {
    flex-flow: column wrap;
    align-items: center; }

/*# sourceMappingURL=main.css.map */
