@import url(https://fonts.googleapis.com/css?family=Lato:100,400,700);
@font-face {
  font-family: 'League-Spartan-Bold';
  src: url(../assets/fonts/LeagueSpartan-Bold.otf) format("opentype"); }
h1, h2, h3 {
  font-family: "League-Spartan-Bold", sans-serif;
  text-align: center; }

h4 {
  font-family: "Lato", sans-serif;
  font-weight: bold; }

h5, p {
  font-family: "Lato", sans-serif;
  font-weight: bold; }

a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: black; }

button {
  width: 41%;
  min-height: 50px;
  border: 3px solid #fff;
  border-radius: 2%;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.25em;
  color: #fff;
  text-transform: uppercase;
  position: relative; }
  button:hover {
    background-color: #00000070;
    color: #FFF;
    text-shadow: 1.25px 1.25px #589CB3; }
  button:hover:before, button:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px); }
  button:before, button:after {
    content: '';
    position: absolute;
    display: block;
    width: 0.35em;
    height: 0.35em;
    border: 3px solid #C074C0;
    transition: all 0.3s ease-in-out; }
  button:before {
    top: -7px;
    left: -7px;
    border-width: 2px 0 0 2px; }
  button:after {
    bottom: -7px;
    right: -7px;
    border-width: 0 2px 2px 0; }

@media (max-width: 374px) {
  button {
    width: 70%; } }
@media (max-width: 998px) {
  button {
    width: 70%; } }
/* For testing only */
html > * {
  box-sizing: border-box;
  margin: 0; }

body {
  margin: 0px; }

.wrapper {
  margin: 0;
  width: 100%; }

nav {
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: #589CB3; }

.logo {
  text-align: center;
  margin: 2% 0 0 5%;
  max-width: 30%; }
  .logo > h1, .logo h4 {
    margin: 0; }

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40%; }
  .links ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-between; }
    .links ul a {
      color: white;
      margin: 0 1em;
      font-style: bold; }

.grow:hover {
  animation: growIn 1s ease-in-out; }
  .grow:hover a {
    color: #0ac2ff;
    background-color: #000; }

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #589CB3; }

@keyframes growIn {
  0% {
    transform: scale(0.5);
    opacity: 0.5; }
  40% {
    transform: scale(2);
    opacity: 1; }
  100% {
    transform: scale(1); } }
@media (max-width: 998px) {
  .hero {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .hero .name {
      display: flex;
      font-size: 1.75em;
      text-align: center;
      color: #FFF;
      margin: 0px;
      animation: fadeIn 500ms ease initial; }
    .hero .subheader {
      display: flex;
      height: 40%;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      color: #FFF; }
      .hero .subheader h5 {
        text-align: center;
        margin: 0px 2%; }
      .hero .subheader .title, .hero .subheader .tagline {
        font-size: 1.5em; } }
@media (max-width: 374px) {
  .hero .name {
    font-size: 1.25em; }
  .hero .subheader .title {
    font-size: 1.5em; }
  .hero .subheader .tagline {
    font-size: 1em; } }
@media (min-width: 767px) {
  .subheader .title, .subheader .tagline {
    font-size: 1.75em; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.featured {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-image: url("../assets/img/custom-memphis3.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover; }
  .featured h1 {
    font-size: 2.5em; }
  .featured h3 {
    font-size: 1.5em; }
  .featured h5 {
    font-size: 1em; }

.feature-heading {
  width: 100%;
  text-align: center;
  margin: 0 5%; }

#react {
  background-color: #fbe280; }
  #react .desc {
    background-color: #F9D74F; }

#angular {
  background-color: #7bb1c3; }
  #angular .desc {
    background-color: #589CB3; }

#sass {
  background-color: #d097d0; }
  #sass .desc {
    background-color: #C074C0; }

.projects {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  border: 3px solid black;
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 30px; }
  .projects .icon {
    display: flex;
    padding: 3px;
    flex-flow: column;
    background: #fff;
    width: 120px;
    height: 120px;
    justify-content: center;
    border: 3px solid #000;
    border-radius: 50%; }
    .projects .icon img {
      width: 100%; }
  .projects .cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
  .projects .project-label {
    display: flex;
    flex-flow: column;
    max-width: 200px;
    align-items: center;
    justify-content: center; }

.card {
  display: flex;
  flex-flow: column wrap;
  max-width: 200px;
  height: 300px;
  align-items: center;
  margin: 45px 5px 0px 5px; }
  .card .desc {
    padding: 5px;
    border-radius: 5px; }
  .card .link {
    background-color: #FFF;
    border: 3px solid #000;
    border-radius: 5px;
    margin-bottom: 15px;
    min-width: 120px; }
    .card .link:hover {
      box-shadow: 8px 8px; }
    .card .link h5 {
      margin: 0px;
      padding: 10px; }
  .card p {
    text-align: center; }
  .card:hover h5 {
    color: #C074C0; }
  .card:hover .icon {
    border: 3px solid #C074C0; }

@media (max-width: 998px) {
  .featured h5 {
    font-size: 1.25em; }
  .featured h3 {
    font-size: 1.75em; }

  .card {
    max-width: 250px;
    text-align: center; }

  .project-label {
    flex-basis: 20%;
    flex-grow: 1;
    text-align: center;
    justify-content: center; } }
@media (max-width: 374px) {
  .cards {
    flex-flow: column; }
    .cards .card {
      width: 95%; }
      .cards .card .desc {
        width: 90%; } }
.footer {
  width: 100vw;
  background-color: #589CB3;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  align-items: center; }
  .footer h1 {
    color: #fff; }
  .footer > div, .footer ul {
    text-align: center; }
  .footer ul {
    list-style: none;
    display: flex;
    padding: 0; }
    .footer ul img {
      max-width: 50px; }
      .footer ul img:hover {
        transform: skew(-8deg, -8deg); }
    .footer ul a:hover {
      font-style: italic; }
  .footer ul:first-of-type {
    flex-flow: column wrap;
    align-items: center; }
    .footer ul:first-of-type a {
      text-decoration: underline;
      color: white; }
  .footer ul:last-of-type li {
    margin-right: 10px; }

/*# sourceMappingURL=main.css.map */
