h1, h2, h3 {
  font-family: 'Abril Fatface', cursive; }

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

h5, p {
  font-family: 'Montserrat', sans-serif; }

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #fff; }

button {
  width: 41%;
  min-height: 50px;
  border: 3px solid #fff;
  border-radius: 2%;
  background-color: transparent;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.25em;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out; }
  button:before, button:after {
    content: '';
    position: absolute; }
  button:hover {
    background-color: #fff;
    color: #03a0d4; }

@media only screen and (min-width: 770px) {
  button {
    width: 30%; } }
/* For testing only */
body {
  box-sizing: border-box;
  margin: 0; }

.wrapper {
  margin: 0;
  width: 100%; }

nav {
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.logo {
  text-align: center;
  margin: 2% 0 0 5%;
  max-width: 30%; }
  .logo > h1, .logo h4 {
    margin: 0; }

h1 {
  color: #fff; }

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40%; }
  .links ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-between; }
    .links ul a {
      color: #fff;
      text-transform: uppercase;
      margin: 0 1em;
      font-style: bold; }

.center {
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/scott-webb-271924.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-blend-mode: darken; }

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
  padding-bottom: 8%; }
  .hero > h1, .hero h5 {
    text-align: center;
    display: flex; }
  .hero h1 {
    font-size: 4.75em;
    animation: fadeIn 500ms ease initial; }
  .hero h5 {
    font-size: 1.5em;
    color: #fff; }

@media only screen and (min-width: 770px) {
  .hero h1 {
    font-size: 5em; }

  .hero h5 {
    font-size: 2em; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.featured {
  display: flex;
  flex-flow: row wrap; }
  .featured h3 {
    font-size: 1.5em; }
  .featured h5 {
    font-size: 1em; }

.feature-heading {
  width: 100%;
  text-align: center;
  margin: 0 5%; }

.cards {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 5% 15%;
  justify-content: center; }
  .cards .icon {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 3%; }

.card {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 85%;
  align-items: center; }

@media only screen and (min-width: 770px) {
  .featured h5 {
    font-size: 1.25em; }
  .featured h3 {
    font-size: 1.75em; }

  .card {
    flex-basis: 33%;
    flex-grow: 1;
    text-align: center; } }
.footer {
  width: 100vw;
  background-color: #03a0d4;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  align-items: center; }
  .footer .logo {
    display: flex; }
  .footer ul {
    list-style: none;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center; }
    .footer ul img {
      max-width: 50px;
      margin-right: 15%; }
  .footer ul:first-of-type {
    width: 100%;
    flex-flow: column wrap;
    align-items: center; }

/*# sourceMappingURL=styles.css.map */
