
.featured{
  display: flex;
  flex-flow: row wrap;
	justify-content: center;
	background-image: url("../assets/img/custom-memphis3.png");
	& h1 {
		font-size: 2.5em;
	}
  & h3{
    font-size: 1.5em;
  }
  & h5{
    font-size: 1em;
  }
	@include background;

}

.feature-heading{
  width: 100%;
  text-align: center;
  margin: 0 5%;
}

#react {
	background-color: lighten($tertiary, $tint-saturation-amt);
	& .desc {
		background-color: $tertiary;
	}
}
#angular {
	background-color: lighten($primary, $tint-saturation-amt);
	& .desc {
		background-color: $primary;
	}
}
#sass {
	background-color: lighten($secondary, $tint-saturation-amt);
	& .desc {
		background-color: $secondary;
	}
}

.projects{
	width: 80%;
  display: flex;
  flex-flow: row wrap;
	border: 3px solid black;
	border-radius: 10px;
  justify-content: center;
	margin-bottom: 30px;

  & .icon{
    display: flex;
		padding: 3px;
    flex-flow: column;
		background: #fff;
		width: 120px;
		height: 120px;
    justify-content: center;
    border: 3px solid #000;
    border-radius: 50%;
		& img {
			width: 100%;
		}
  }
	& .cards{
		display: flex;
	  flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
	& .project-label{
		display: flex;
	  flex-flow: column;
		max-width: 200px;
		align-items: center;
		justify-content: center;
	}
}
.card{
  display: flex;
  flex-flow: column wrap;
	max-width: 200px;
	height: 300px;
  align-items: center;
	margin: 45px 5px 0px 5px;

	& .desc {
		padding: 5px;
		border-radius: 5px;
	}
	& .link {
		background-color: #FFF;
		border: 3px solid #000;
		border-radius: 5px;
		margin-bottom:  15px;
		min-width: 120px;
		&:hover {
			box-shadow: 8px 8px;
		}
		& h5 {
			margin: 0px;
			padding: 10px;
		}
	}
  & p{
    text-align: center;
  }
  &:hover{
    h5{
      color:$secondary;
    }
    .icon{
      border: 3px solid $secondary;
    }
  }
}

@media #{$charmeleon}{
  .featured{
    & h5{
      font-size: 1.25em;
    }
    & h3{
      font-size: 1.75em;
    }
  }
  .card{
		max-width: 250px;
    text-align: center;
  }
  .project-label{
    flex-basis: 20%;
    flex-grow: 1;
    text-align: center;
		justify-content: center;
  }
}

@media #{$charmander}{
 .cards{
		flex-flow: column;
		& .card {
			width: 95%;
			& .desc {
				width: 90%;
			}
		}
	}
}
