.footer{
  & > div, ul{
    text-align: center;
  }
  width: 100vw;
  background-color:$secondary;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  & ul{
    list-style: none;
    display: flex;
    padding: 0;
    & img {
      max-width: 50px;
    }
  }
  & ul:first-of-type{

    flex-flow: column wrap;
    align-items: center;

  }
}
