.footer{
	& h1 {
		color: #fff;
	}
  & > div, ul{
    text-align: center;
  }
  width: 100vw;
  background-color:$primary;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  & ul{
    list-style: none;
    display: flex;
    padding: 0;
    & img {
      max-width: 50px;
			&:hover{
				transform: skew(-8deg, -8deg);
			}
    }
		& a:hover{
			font-style: italic;
		}
  }
  & ul:first-of-type{
    flex-flow: column wrap;
    align-items: center;
		& a {
			text-decoration: underline;
			color: white;
		}
  }
  & ul:last-of-type{
    & li {
			margin-right: 10px;
		}
  }
}
