/* For testing only */

// *:not(body):not(html):not(button) {
//   box-sizing:border-box;
// 	border: 2px dashed #fff;
// }
// html > *{
//   box-sizing:border-box;
//   margin: 0;
// }

body {
	margin: 0px;
}

.wrapper{
  margin: 0;
  width: 100%;
}
// navigation
nav{
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
	color: $primary;
}

.logo{
  text-align: center;
  margin: 2% 0 0 5%;
  max-width: 30%;
  & > h1, h4{
    margin: 0;
  }
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40%;
  ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-between;
    & a{
      color: white;
      margin: 0 1em;
      font-style: bold;
    }
  }
}
.grow{
  & li:hover{
  animation: growIn 1s ease-in-out;
    & a{
      color: $brightblue;
      background-color: #000;
    }
  }
}
// hero image
.center{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

	// background: linear-gradient(
  //     rgba(250, 0, 0, 0.10),rgba(250, 0, 0, 0.10)), url("../assets/img/custom-memphis2.png");
  // background-image: url("../assets/img/custom-memphis2.png");
	background-color: $primary;

}
@keyframes growIn {
  0%{
    transform: scale(0.5);
    opacity: 0.5;
  }
  40%{
    transform: scale(2);
    opacity: 1;
  }
  100%{
    transform: scale(1);
  }
}
