

@media #{$charmeleon}{
    .hero{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
    .name {
      display: flex;
      font-size: 1.75em;
      text-align: center;
      color: #FFF;
      margin: 0px;
      animation: fadeIn 500ms ease initial;
    }

    .subheader{
      display: flex;
      height: 40%;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      color: #FFF;
      & h5 {
        text-align: center;
        margin: 0px 2%;
      }
      .title, .tagline{
        font-size: 1.5em;
      }
    }
  }
}

//smallest size phones, inherits from charmeleon if not specified
@media #{$charmander}{
  .hero{
    .name {
      font-size: 1.25em;
    }
    .subheader{
      .title{
        font-size: 1.5em;
      }
      .tagline{
        font-size: 1em;
      }
    }
  }
}

//desktop size, inherits from charmeleon if not specified
@media #{$charizard}{
    .subheader{
      .title, .tagline{
        font-size: 1.75em;
      }
    }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
