
.hero{
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .name {
    display: flex;
    font-size: 1.75em;
    text-align: center;
    color: #FFF;
    margin: 0px;
    animation: fadeIn 500ms ease initial;
  }

  .subheader{
    display: flex;
    height: 40%;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    color: #FFF;
    & h5 {
      text-align: center;
      margin: 0px 2%;
    }
    .title, .tagline{
      font-size: 1.5em;
    }
  }
}

//common size phones, inherits from default if not specified
@media #{$charmeleon}{
  .hero {
      .subheader{
        .title, .tagline{
          font-size: 1.5em;
        }
      }
  }
}
@media #{$charmeleon2}{
  .hero {
      .name {
      font-size: 2.5em;
    }
      .subheader{
        .title, .tagline{
          font-size: 1.75em;
        }
      }
  }
}

//smallest size phones, inherits from default if not specified
@media #{$charmander}{
  .hero{
    .name {
      font-size: 1.25em;
    }
    .subheader{
      .title{
        font-size: 1.5em;
      }
      .tagline{
        font-size: 1em;
      }
    }
  }
}

//desktop size, inherits from default if not specified
@media #{$charizard}{
  .hero {
    height: 60%;
    .name {
      font-size: 3.75em;
    }
      .subheader{
        // height: 30%;
        .title, .tagline{
          font-size: 2em;
        }
      }
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
