.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
  height: 65vh;
  padding-bottom: 8%;
  & > h1, h5{
    text-align: center;
    display: flex;
  }
  & h1{
    font-size: 5em;
  }
  & h5{
    font-size: 1.5em;
  }
}

@media #{$charmeleon}{
  .hero h5{
    font-size: 2em;
  }
}
