button {
  width: 41%;
  min-height: 50px;
  border: 3px solid #fff;
  border-radius: 2%;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.25em;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  &:hover{
    background-color: #00000070;
    color: $primary;
    text-shadow: 1.25px 1.25px $accent;
  }
  &:hover:before, &:hover:after{
    width:calc(100% + 12px);
    height:calc(100% + 12px);
  }
  &:before, &:after{
    content:'';
    position: absolute;
    display: block;
    width: 0.25em;
    height: 0.25em;
    border: 3px solid $secondary;
    transition:all 0.3s ease-in-out;
  }
  &:before{
    top: -7px;
    left: -7px;
    border-width:2px 0 0 2px;
  }
  &:after{
    bottom: -7px;
    right: -7px;
    border-width:0 2px 2px 0;
  }
}
@media #{$charmeleon}{
  button{
    width: 30%;
  }
}
