//google fonts
@import url(https://fonts.googleapis.com/css?family=Lato:100,400,700);

@font-face {
    font-family: 'League-Spartan-Bold';
    src: url(../assets/fonts/LeagueSpartan-Bold.otf) format('opentype');
}
$league: 'League-Spartan-Bold', sans-serif;
$lato: 'Lato', sans-serif;


h1, h2, h3{
  font-family: $league;
}

h4{
  font-family: $lato;
  font-weight: bold;

}
h5,p {
  font-family: $lato;
	font-weight: bold;
}

a {
  font-family: $lato;
  text-decoration: none;
  color: black;
}
