//💻breakpoints🖥
$charmander: "(max-width: 374px)";
$charmeleon: "(min-width: 375px) and (max-width: 766px)";
$charmeleon2: "(min-width: 767px) and (max-width: 998px)";
$charizard: "(min-width: 1000px)";


// color
$brightblue: #0ac2ff;
$darkblue: #017eba;
$warmpurple: #e3b1e4;
$darkpurple: #9c8299;
$brightpurple: #ae84ff;


//colors🎨
$primary: #589CB3;
$primary-name: 'Teal';
$primary-tp: rgba(87, 156, 179, 0.7);

$secondary: #C074C0;
$secondary-name: 'fushia';
$secondary-tp: #c073c0b8;

$tertiary: #F9D74F;
$tertiary-name: 'lemon';
$tertiary-tp: #f9d74fb3;

$accent: #B8B42D;
$accent-name: 'Greenbean';

//tint
$tint-amt: 8;
$tint-saturation-amt:10;
$mix-weight: 65%;
