//💻breakpoints🖥
$charmander: "only screen and (min-width: 480px and max-width 769px)";
$charmeleon: "only screen and (min-width: 770px)";
$charizard: "only screen and (min-width 999px)";


// color
$brightblue: #0ac2ff;
$darkblue: #017eba;
$warmpurple: #e3b1e4;
$darkpurple: #9c8299;
$brightpurple: #ae84ff;


//colors🎨
$primary: #589CB3;
$primary-name: 'Teal';

$secondary: #C074C0;
$secondary-name: 'fushia';

$tertiary: #F9D74F;
$tertiary-name: 'lemon';

$accent: #B8B42D;
$accent-name: 'Greenbean';

//tint
$tint-amt: 8;
$tint-saturation-amt:10;
$mix-weight: 65%;
